

langchain
langgraph
langchain-community
langchain-core
requests


langchain-openai  
langchain-google-genai 
langchain-ollama 
litellm 


streamlit
pysqlite3-binary
crewai


python-dotenv


requests
typing-extensions
pydantic


validators
python-dateutil


loguru


orjson

sqlite3>=3.35.0
apify-client
beautifulsoup4
lxml

langgraph-checkpoint-sqlite
tavily-python


gunicorn  
psutil 

langchain-groq
python-dotenv
