langchain
langchain-community
langchain-core
langgraph

langgraph-checkpoint-sqlite
langchain-groq
langchain-ollama
litellm
streamlit
crewai
requests
python-dotenv
pydantic
typing-extensions
apify-client
