

langchain
langgraph
langchain-community
langchain-core
requests


langchain-openai  
langchain-google-genai 
langchain-ollama 
litellm 


streamlit

crewai


python-dotenv


requests
typing-extensions
pydantic


validators
python-dateutil


loguru

# JSON handling
orjson


apify-client
beautifulsoup4
lxml


tavily-python


gunicorn  
psutil>=5.9.0  

langchain-groq
python-dotenv
